body {
    background-color: rgba(128, 128, 128, 0.452);
  }

  div img {
    margin-left: auto;
    margin-right: auto;
    width: 500;
    height: 350;
  }
  div p {
    text-align: justify;
    background-color:grey;
    
    border: 2px solid grey;
    color: white;
    padding: 15px;
    
  }